<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Control - Cooperativa MICREDIVISION</title>
    <link rel="stylesheet" href="/css/styles2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <img src="/images/profile-pic.jpg" alt="Profile Picture" class="profile-pic">
            <div class="user-info">
                <h3>Full Name Admin</h3>
                <p>Admin</p>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="#"><i class="fas fa-briefcase"></i> Administration</a></li>
            <li><a href="/crud_usuarios"><i class="fas fa-users"></i> Usuarios</a></li>
            <li><a href="#"><i class="fas fa-box"></i> Products</a></li>
            <li><a href="#"><i class="fas fa-shopping-cart"></i> Sales</a></li>
            <li><a href="#"><i class="fas fa-warehouse"></i> Inventory</a></li>
            <li><a href="#"><i class="fas fa-cogs"></i> Settings</a></li>
            <li><a href="/crud_cooperativa"><i class="fas fa-handshake"></i> Cooperativas</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="header">
            <h1>Inventory</h1>
            <div class="user-actions">
                <i class="fas fa-bell"></i>
                <i class="fas fa-power-off"></i>
                <span>User Name</span>
                <img src="/images/profile-pic.jpg" alt="User Picture" class="user-pic">
            </div>
        </div>
        <div class="content">
            <h2>Responsive Tiles</h2>
            <div class="tiles">
                <div class="tile">
                    <i class="fas fa-user"></i>
                    <p>2 Administrators</p>
                </div>
                <div class="tile">
                    <i class="fas fa-users"></i>
                    <p>71 Clients</p>
                </div>
                <div class="tile">
                    <i class="fas fa-truck"></i>
                    <p>7 Providers</p>
                </div>
                <div class="tile">
                    <i class="fas fa-tag"></i>
                    <p>9 Categories</p>
                </div>
                <div class="tile">
                    <i class="fas fa-box"></i>
                    <p>121 Products</p>
                </div>
                <div class="tile">
                    <i class="fas fa-shopping-cart"></i>
                    <p>47 Sales</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/scripts.js"></script>
</body>
</html>
